{{- define "main" }}
<div class="page clearfix" index>
    <div class="left">
    <h1>{{.Title}}</h1>
    <hr>
    {{- $allacmodelscount:= .Site.Taxonomies.tags.all.Count}}
    <ul>
    <li><div class="label">
           <div class="label-card"><i class="fa fa-plane"></i><i class="fa fa-plane"></i><i class="fa fa-plane"></i>MULT TO ALL ({{$allacmodelscount}})</div>
    </div></li>
    <li><div class="label">
     {{- range $acmodelname, $acmodelvaluelist := .Site.Taxonomies.acmodels }}
        {{- with $.Site.GetPage (printf "/acmodels/%s" $acmodelname) }}
            <div class="label-card"><i class="fa fa-plane"></i><a href="/acmodels/{{$acmodelname}}">{{$acmodelname | upper}} ({{add (len $acmodelvaluelist) $allacmodelscount}})</a></div>
        {{- end }}
     {{- end }}
     </div></li>
     </ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right" >
        <div class="wrap">
            <!-- Content -->
             <div class="side content">
                <i class="fa fa-line-chart"></i>阅读 <span id="busuanzi_value_page_pv"></span>
                <div style="color:red">有明确适用机型的MULT类CAD已包括在特定的机型中。</br>无明确适用特定机型的MULT类的CAD包括在每一个机型中。</div>
            </div>
        </div>
    </div>
</div>
{{- end }}