{{- define "main" }}
<div class="page clearfix" index>
    <div class="left">
    <h1>{{.Title}}</h1>
    <hr>
    <ul>
        {{- range .Site.RegularPages.GroupByDate "2006" }}
           <h2 id="{{ .Key }}">{{ .Key }}</h2>
           {{- range .GroupByDate "2006-01-02" }}
                {{- range (.Pages.ByParam "amendno").Reverse}}
                    <li><i class="fa fa-calendar"></i>{{ .Date.Format "2006-01-02" }}
                    {{- if (index $.Site.Data .Params.amendno).new }}
                    <s><a class="title" href="{{ .RelPermalink }}">[{{.Params.amendno}}] [{{.Params.cadno}}] <div style="display:inline-block;text-decoration:line-through">{{ .Title }}</div></a></s>
                    {{- else}}
                    <a class="title" href="{{ .RelPermalink }}">[{{.Params.amendno}}] [{{.Params.cadno}}] <div style="display:inline-block">{{ .Title }}</div></a>
                    {{- end }}
                    </li>
                {{- end }}
            {{- end }}
         {{- end }}
    </ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right" >
        <div class="wrap">
            <!-- Content -->
             <div class="side content">
                <i class="fa fa-line-chart"></i>阅读 <span id="busuanzi_value_page_pv"></span>
            </div>
            <div class="side content">
                <div>按年统计</div>
                <ul id="content-side" class="content-ul">
                 {{- range $index, $pagesByYear:=.Site.RegularPages.GroupByDate "2006" }}
                     <li><a  href="#{{ .Key }}">{{ .Key }} {{substr  $pagesByYear 5}}</a></li>
                 {{- end }}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
{{- end }}

