{{- define "main" }}
<div class="page clearfix" index>
    <div class="left">
    <h1>{{.Title}}</h1>
    <hr>
    <ul><li><div class="label">
     {{- range $engname, $engvaluelist := .Site.Taxonomies.engs }}
       {{- $realurl:= replaceRE "[/]|-{2,}" "-" $engname  | replaceRE "-$" ""}}
            {{- with $.Site.GetPage (printf "/engs/%s" $engname) }}
                <div class="label-card"><i class="fa fa-gears"></i><a href="/engs/{{$realurl}}">{{$realurl | upper}} ({{len $engvaluelist}})</a></div>
            {{- end }}
     {{- end }}
     </div></li></ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right" >
        <div class="wrap">
            <!-- Content -->
             <div class="side content">
                <i class="fa fa-line-chart"></i>阅读 <span id="busuanzi_value_page_pv"></span>
                <div style="color:red">发动机分类不限于MUTL类的CAD,机型类的CAD中提及的发动机也有体现。</div>
            </div>
        </div>
    </div>
</div>
{{- end }}