{{- define "main" }}
<!-- <small>这里搜集了历史上CAAC发布的所有CAD</small> -->
<div class="page clearfix" index>
    <div class="left">
        <h1>{{.Title}}</h1>
        <hr>
        <ul>
           {{- range .Paginator.Pages.GroupByDate "2006-01-02"}}
           {{- range (.Pages.ByParam "amendno").Reverse}}
              <li>
                <h2>{{- if (index .Site.Data .Params.amendno).new }}
                    <s><a class="post-link" href="{{ .RelPermalink }}">[{{ .Params.amendno }}] {{ .Params.cadno }}</br>{{ .Title }}</a></s>
                    {{- else}}
                    <a class="post-link" href="{{ .RelPermalink }}">[{{ .Params.amendno }}] {{ .Params.cadno }}</br>{{ .Title }}</a>
                    {{- end }}
                </h2>
                <div class="label">
                    <div class="label-card"><i class="fa fa-calendar-o"></i>{{ .Date.Format "2006-01-02" }}</div>
                    <div class="label-card"><i class="fa fa-calendar-check-o"></i>{{ .Params.effdate }}</div>
                    {{- range $index,$acmodel:=.Params.acmodels}}
                    {{- $acmodel:= replaceRE "[/ ]" "-" $acmodel | replaceRE "[()&*]" "" | replaceRE "-{2,}" "-"}}
                    <div class="label-card"><i class="fa fa-plane"></i><a href="/acmodels/{{$acmodel | lower}}/" rel="tag">{{$acmodel | upper}}</a></div>
                    {{- end }}
                    {{- range $index,$eng:=.Params.engs}}
                    {{- $eng:= replaceRE "[/ ]" "-" $eng | replaceRE "[()&*]" "" | replaceRE "-{2,}" "-"}}
                    <div class="label-card"><i class="fa fa-gears"></i><a href="/engs/{{$eng | lower}}/" rel="tag">{{$eng | upper}}</a></div>
                    {{- end }}
                    {{- range $index,$pn:=.Params.pns}}
                    {{- $pn:= replaceRE "[/ ]" "-" $pn | replaceRE "[()&*]" "" | replaceRE "-{2,}" "-"}}
                    <div class="label-card"><i class="fa fa-cubes"></i><a href="/pns/{{$pn | lower}}/" rel="tag">{{ $pn | upper}}</a></div>
                    {{- end }}
                    {{- range $index,$mfr:=.Params.mfrs}}
                    {{- $mfr:= replaceRE "[/ ]" "-" $mfr | replaceRE "[()&*]" "" | replaceRE "-{2,}" "-"}}
                    <div class="label-card"><i class="fa fa-wrench"></i><a href="/mfrs/{{$mfr | lower}}/" rel="tag">{{$mfr | upper}}</a></div>
                    {{- end }}
                    <div class="label-card"><i class="fa fa-gavel"></i><a href="/admins/{{ .Params.admins }}" rel="tag">{{ .Params.admins }}</a></div>
                    <div class="label-card">{{ if .Params.author }}<i class="fa fa-user"></i>{{ .Params.author }}{{ end }}</div>
                </div>
                <div class="excerpt">
                    {{- .Summary }}
                </div>
                <hr>
              </li>
            {{- end }}
            {{- end }}
        </ul>
        <!-- Pagination links -->
        {{- partial "pagination.html" . }}
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right" >
        <div class="wrap">
            <!-- Content -->
            <div class="side content">
            <div>
                 <i class="fa fa-line-chart"></i>阅读 <span id="busuanzi_value_page_pv"></span>
            </div>
            <div>30天内新指令</div>
                <ul id="content-side" class="content-ul">
                {{- range where .Site.RegularPages "Date" "ge" (now.AddDate 0 0 -7) }}
                  {{- if (index .Site.Data .Params.amendno).new }}
                    <s><li><a   href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}</br>[{{ .Params.amendno }}]{{.Params.cadno}}</br>{{ .Title }}</a></li></s>
                    {{- else}}
                    <li><a   href="{{ .Permalink }}">{{ .Date.Format "2006-01-02" }}</br>[{{ .Params.amendno }}]{{.Params.cadno}}</br>{{ .Title }}</a></li>
                    {{- end }}
                {{- end }}
                </ul>
            </div>
            <!-- 其他div框放到这里 -->
            <!-- <div class="side">bbbb</div> -->
        </div>
    </div>
</div>
{{- end }}