{{- define "main" }}
<div class="page clearfix" index>
    <div class="left">
    <h1>{{.Title}}</h1>
    <hr>
    <ul><li><div class="label">
     {{- range $mfrname, $mfrvaluelist := .Site.Taxonomies.mfrs }}     
       {{- $realurl:= replaceRE "[/]|-{2,}" "-" $mfrname  | replaceRE "-$" ""}}
            {{- with $.Site.GetPage (printf "/mfrs/%s" $mfrname) }}
                <div class="label-card"><i class="fa fa-gears"></i><a href="/mfrs/{{$realurl}}">{{$realurl | upper}} ({{len $mfrvaluelist}})</a></div>
            {{- end }}
     {{- end }}
     </div></li></ul>
    </div>
    <button class="anchor"><i class="fa fa-anchor"></i></button>
    <div class="right" >
        <div class="wrap">
            <!-- Content -->
             <div class="side content">
                <i class="fa fa-line-chart"></i>阅读 <span id="busuanzi_value_page_pv"></span>
                <div style="color:red">按触发CAD的源进行统计。</div>
            </div>
        </div>
    </div>
</div>
{{- end }}