{{- if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
<div class="pagination">
  {{- if .Paginator.HasPrev }}
    <a href="{{.Paginator.First.URL}}" class="previous"><i class="fa fa-angle-double-left"></i></a>
    <a href="{{ .Paginator.Prev.URL }}" class="previous"><i class="fa fa-angle-left"></i></a>
  {{- else }}
    <span class="previous disable"><i class="fa fa-angle-double-left"></i></span>
    <span class="previous disable"><i class="fa fa-angle-left"></i></span>
  {{- end }}
  <span class="page_number ">每页{{.Paginator.PageSize}}条 第 {{ .Paginator.PageNumber }} 页 / 共 {{ .Paginator.TotalPages }} 页</span>
  {{- if .Paginator.HasNext }}
    <a href="{{ .Paginator.Next.URL }}" class="next"><i class="fa fa-angle-right"></i></a>
    <a href="{{ .Paginator.Last.URL }}" class="next"><i class="fa fa-angle-double-right"></i></a>
  {{- else }}
    <span class="next disable"><i class="fa fa-angle-right"></i></span>
    <span class="next disable"><i class="fa fa-angle-double-right"></i></span>
  {{- end }}
</div>
{{- end }}

